




<div style="padding: 20px; font-family: sans-serif;">
    <h2 style="font-weight: 500; font-size: 55px; margin-bottom: 40px 0px; text-decoration: underline;">Hello, I'm <%= userName %></h2>



    <p style="font-size: 25px;">My / Our Organization is <%= userOrganization %></p>

    <p style="text-decoration: underline; text-underline-offset: 6px; margin-bottom: 100px;">You can contact me on this gmail <%= userEmail %></p>



    <p>Hey Mamun! This is her message. </p>
    <small style="display: block; margin-bottom: 20px;">Read carefully and solve this, best of luck.</small>

    <p><%= userMessage %></p>
</div>